body {
	background-color: #bbb;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

.page {
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.login, h1, h2, .graph {
	text-align: center;
}

.graph {
	padding: 10px;
}

.graphheading {
	font-size: 20px;
	padding: 8px;
}
